---
import Icon from "../utility/icon";

interface Props {}

const block = Astro.props;
---

<section>
  <div class="hero-container">
    <h1 class="flex flex-col overflow-y-hidden">
      <span class="heading-line-one"> Tom </span>
      <span class="heading-line-two">
        <span class="rotating-letter">R</span>
        <span class="rotating-letter">i</span>
        <span class="rotating-letter">c</span>
        <span class="rotating-letter">h</span>
        <span class="rotating-letter">a</span>
        <span class="rotating-letter">r</span>
        <span class="rotating-letter">d</span>
        <span class="rotating-letter">s</span>
        <span class="rotating-letter">o</span>
        <span class="rotating-letter">n</span>
      </span>
    </h1>
    <p class="subheading">Web Developer</p>
    <!-- <p class="byline">for static sites</p> -->
    <!-- <div class="icon mx-auto mt-4 w-10 text-gray-200">
      <Icon icon={"Angle Down"} />
    </div> -->
  </div>
</section>

<style>
  section {
    max-width: var(--pageContainer);
    padding-inline: var(--pagePadding);
    margin: 0 auto;
    padding-bottom: 164px;
  }

  h1 {
    padding-block: 72px;
    /* text-align: center; */
  }
  .heading-line-one {
    font-size: clamp(5rem, 28vw, 30.25rem);
    line-height: clamp(4rem, 29vw, 28rem);
    font-weight: 600;
    animation: slideUp ease 1s;
    /* margin-left: -1rem; */
  }
  .heading-line-two {
    font-size: clamp(2rem, 12vw, 14.25rem);
    line-height: clamp(2rem, 10vw, 12.25rem);
    font-weight: 400;
    animation: slideLeft ease 1.25s;
    display: flex;
    justify-content: end;
  }
  .rotating-letter {
    animation: rotatingLetter ease 1.75s;
    /* width: min-content; */
  }
  .subheading {
    font-size: clamp(1.25rem, 6vw, 2.5rem);
    font-weight: 300;
    margin-left: clamp(0.25rem, 1vw, 3rem);

    animation: fadeInAnimation ease 3s;
    letter-spacing: 0.15rem;
  }
  .icon {
    /* margin-top: 2rem; */
    animation: fadeInAnimation ease 3s;
  }

  @media only screen and (min-width: 350px) {
    /* .heading-line-two {
      margin-left: clamp(0.1rem, 1vw, 5rem);
    } */
    /* .subheading {
      margin-left: clamp(0.25rem, 2vw, 3rem);
    } */
  }
  @media only screen and (min-width: 400px) {
    /* .heading-line-two {
      margin-left: clamp(0.1rem, 1.5vw, 5rem);
    } */
    /* .subheading {
      margin-left: clamp(0.25rem, 2vw, 3rem);
    } */
  }

  @media only screen and (min-width: 480px) {
    /* .heading-line-two {
      margin-left: clamp(0.1rem, 2vw, 5rem);
    } */
    .subheading {
      margin-left: clamp(0.25rem, 2vw, 3rem);
    }
  }

  @media only screen and (min-width: 600px) {
    /* .heading-line-two {
      margin-left: clamp(0.5rem, 2.5vw, 5rem);
    } */
    .subheading {
      margin-left: clamp(1.25rem, 2.75vw, 6rem);
    }
  }
  @media only screen and (min-width: 720px) {
    /* .heading-line-two {
      margin-left: clamp(0.5rem, 3vw, 5rem);
    } */
    .subheading {
      margin-left: clamp(1.25rem, 3.5vw, 6rem);
    }
  }
  @media only screen and (min-width: 1024px) {
    /* .heading-line-two {
      margin-left: clamp(0.5rem, 4vw, 5rem);
    } */
    .subheading {
      margin-left: clamp(1.25rem, 4.25vw, 6rem);
    }
  }

  /* Animations */
  @keyframes rotatingLetter {
    0% {
      transform: rotate(0);
    }
    10% {
      transform: rotate(-20deg);
    }
    60% {
      transform: rotate(15deg);
    }
    75% {
      transform: rotate(-5deg);
    }
    90% {
      transform: rotate(3deg);
    }
    100% {
      transform: rotate(0);
    }
  }
  @keyframes fadeInAnimation {
    0% {
      opacity: 0;
    }
    50% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

  @keyframes slideLeft {
    0% {
      transform: translateX(200%);
      opacity: 0;
    }
    50% {
      transform: translateX(200%);
      opacity: 0;
    }
    70% {
      opacity: 1;
    }
    100% {
      transform: translateX(0rem);
    }
  }

  @keyframes scale {
    0% {
      scale: 0;
    }
    100% {
      scale: 1;
    }
  }
  @keyframes slideUp {
    0% {
      transform: translateY(100%);
    }
    100% {
      transform: translateY(0);
    }
  }
</style>
