---
import Icon from "../utility/icon";

interface Props {}

const block = Astro.props;
---

<section>
  <div class="hero-container">
    <h1 class="flex flex-col overflow-y-hidden">
      <span class="heading-line-one"> Tom </span>
      <span class="heading-line-two">
        <span class="rotating-letter-sliding-left">R</span>
        <span class="rotating-letter-sliding-left">i</span>
        <span class="rotating-letter-sliding-left">c</span>
        <span class="rotating-letter-sliding-left">h</span>
        <span class="rotating-letter-sliding-left">a</span>
        <span class="rotating-letter-sliding-left">r</span>
        <span class="rotating-letter-sliding-left">d</span>
        <span class="rotating-letter-sliding-left">s</span>
        <span class="rotating-letter-sliding-left">o</span>
        <span class="rotating-letter-sliding-left">n</span>
      </span>
    </h1>
    <p class="subheading">
      <span class="rotating-letter-sliding-right">W</span>
      <span class="rotating-letter-sliding-right">e</span>
      <span class="rotating-letter-sliding-right">b</span>
      <span class="rotating-letter-sliding-right">&nbsp;</span>
      <span class="rotating-letter-sliding-right">D</span>
      <span class="rotating-letter-sliding-right">e</span>
      <span class="rotating-letter-sliding-right">v</span>
      <span class="rotating-letter-sliding-right">e</span>
      <span class="rotating-letter-sliding-right">l</span>
      <span class="rotating-letter-sliding-right">o</span>
      <span class="rotating-letter-sliding-right">p</span>
      <span class="rotating-letter-sliding-right">e</span>
      <span class="rotating-letter-sliding-right">r</span>
    </p>
  </div>
</section>

<style>
  section {
    max-width: var(--pageContainer);
    padding-inline: var(--pagePadding);
    margin: 0 auto;
    padding-top: 48px;
    padding-bottom: 128px;
  }

  .hero-container {
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
  }
  .heading-line-one {
    font-size: clamp(5rem, 28vw, 30.25rem);
    line-height: clamp(4rem, 28vw, 28rem);
    font-weight: 600;
    animation: slideUp ease 1s;
  }
  .heading-line-two {
    font-size: clamp(2rem, 12vw, 14.25rem);
    line-height: clamp(2rem, 10vw, 12.25rem);
    font-weight: 400;
    animation: slideLeft ease 1.25s;
    display: flex;
    justify-content: end;
  }
  .rotating-letter-sliding-left {
    animation: rotatingLetterSlidingLeft ease 1.75s;
  }
  .rotating-letter-sliding-right {
    animation: rotatingLetterSlidingRight ease 1.75s;
    margin-inline: 0;
    font-size: clamp(1.25rem, 6vw, 2.5rem);
    font-weight: 200;
  }
  .subheading {
    margin-left: clamp(0.25rem, 1vw, 3rem);
    margin-top: 64px;
    animation: slideRight ease 1.25s;
    align-self: end;
    display: flex;
    gap: 0.1rem;
  }
  .icon {
    /* margin-top: 2rem; */
    animation: fadeInAnimation ease 3s;
  }

  /* @media only screen and (min-width: 480px) {
    .subheading {
      margin-left: clamp(0.25rem, 2vw, 3rem);
    }
  }

  @media only screen and (min-width: 600px) {
    .subheading {
      margin-left: clamp(1.25rem, 2.75vw, 6rem);
    }
  }
  @media only screen and (min-width: 720px) {
    .subheading {
      margin-left: clamp(1.25rem, 3.5vw, 6rem);
    }
  }
  @media only screen and (min-width: 1024px) {
    .subheading {
      margin-left: clamp(1.25rem, 4.25vw, 6rem);
    }
  } */

  /* Animations */
  @keyframes rotatingLetterSlidingLeft {
    0% {
      transform: rotate(0);
    }
    10% {
      transform: rotate(-20deg);
    }
    60% {
      transform: rotate(15deg);
    }
    75% {
      transform: rotate(-5deg);
    }
    90% {
      transform: rotate(3deg);
    }
    100% {
      transform: rotate(0);
    }
  }
  @keyframes rotatingLetterSlidingRight {
    0% {
      transform: rotate(0);
    }
    10% {
      transform: rotate(20deg);
    }
    60% {
      transform: rotate(-15deg);
    }
    75% {
      transform: rotate(5deg);
    }
    90% {
      transform: rotate(-3deg);
    }
    100% {
      transform: rotate(0);
    }
  }
  @keyframes fadeInAnimation {
    0% {
      opacity: 0;
    }
    50% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

  @keyframes slideLeft {
    0% {
      transform: translateX(200%);
      opacity: 0;
    }
    50% {
      transform: translateX(200%);
      opacity: 0;
    }
    70% {
      opacity: 1;
    }
    100% {
      transform: translateX(0rem);
    }
  }
  @keyframes slideRight {
    0% {
      transform: translateX(-200%);
      opacity: 0;
    }
    50% {
      transform: translateX(-200%);
      opacity: 0;
    }
    70% {
      opacity: 1;
    }
    100% {
      transform: translateX(0rem);
    }
  }

  @keyframes scale {
    0% {
      scale: 0;
    }
    100% {
      scale: 1;
    }
  }
  @keyframes slideUp {
    0% {
      transform: translateY(100%);
    }
    100% {
      transform: translateY(0);
    }
  }
</style>
