---
import Icon from "../utility/icon";

interface Props {}

const block = Astro.props;
---

<section>
  <div class="hero-container">
    <h1 class="flex flex-col overflow-y-hidden">
      <span
        style={`font-size: 420px; line-height: 330px; font-weight: 600; animation: slideUp ease 1.5s; `}>
        Tom
      </span>
      <span
        style={`font-size: 164px; line-height: 136px; font-weight: 400; animation: slideLeft ease 1.5s; display: flex; margin: 0 auto;`}>
        <span class="rotating-letter">R</span>
        <span class="rotating-letter">i</span>
        <span class="rotating-letter">c</span>
        <span class="rotating-letter">h</span>
        <span class="rotating-letter">a</span>
        <span class="rotating-letter">r</span>
        <span class="rotating-letter">d</span>
        <span class="rotating-letter">s</span>
        <span class="rotating-letter">o</span>
        <span class="rotating-letter">n</span>
      </span>
    </h1>
    <p
      style={`font-size: 104px; font-weight: 100; line-height: 96px; margin-top: 36px; animation: fadeInAnimation ease 4s;`}>
      Solutions Architect
    </p>
    <p
      style={`font-size: 20px; font-weight: 100; line-height: 20px; animation: fadeInAnimation ease 4s;`}>
      for static sites
    </p>
    <div
      class="mx-auto mt-4 w-10 text-gray-200"
      style={`animation: fadeInAnimation ease 7s;`}>
      <Icon icon={"Angle Down"} />
    </div>
  </div>
</section>

<style>
  section {
    max-width: var(--pageContainer);
    padding-inline: var(--pagePadding);
    margin: 0 auto;
    text-align: center;
    padding-bottom: 96px;
  }

  h1 {
    padding-block: 48px;
  }

  .rotating-letter {
    animation: rotatingLetter ease 2.25s;
    width: min-content;
  }
  @keyframes rotatingLetter {
    0% {
      transform: rotate(0);
    }
    10% {
      transform: rotate(-20deg);
    }
    60% {
      transform: rotate(15deg);
    }
    75% {
      transform: rotate(-5deg);
    }
    90% {
      transform: rotate(3deg);
    }
    100% {
      transform: rotate(0);
    }
  }
  @keyframes fadeInAnimation {
    0% {
      opacity: 0;
    }
    50% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

  @keyframes slideLeft {
    0% {
      transform: translateX(200%);
      opacity: 0;
    }
    50% {
      transform: translateX(200%);
      opacity: 0;
    }
    70% {
      opacity: 1;
    }
    100% {
      transform: translateX(0rem);
    }
  }

  @keyframes scale {
    0% {
      scale: 0;
    }
    100% {
      scale: 1;
    }
  }
  @keyframes slideUp {
    0% {
      transform: translateY(100%);
    }
    100% {
      transform: translateY(0);
    }
  }
</style>
