---
import Icon from "../utility/icon";

interface Props {}

const block = Astro.props;
---

<section>
  <div class="hero-container">
    <h1 class="flex flex-col overflow-y-hidden">Tom Richardson</h1>
    <p class="subheading">
      <span class="rotating-letter-sliding-right">W</span>
      <span class="rotating-letter-sliding-right">e</span>
      <span class="rotating-letter-sliding-right">b</span>
      <span class="rotating-letter-sliding-right">&nbsp;</span>
      <span class="rotating-letter-sliding-right">D</span>
      <span class="rotating-letter-sliding-right">e</span>
      <span class="rotating-letter-sliding-right">v</span>
      <span class="rotating-letter-sliding-right">e</span>
      <span class="rotating-letter-sliding-right">l</span>
      <span class="rotating-letter-sliding-right">o</span>
      <span class="rotating-letter-sliding-right">p</span>
      <span class="rotating-letter-sliding-right">e</span>
      <span class="rotating-letter-sliding-right">r</span>
    </p>
  </div>
</section>

<style>
  section {
    max-width: var(--pageContainer);
    padding-inline: var(--pagePadding);
    margin: 0 auto;
    padding-top: 96px;
    padding-bottom: 96px;
    font-family: "Playfair Display", serif;

    display: flex;
    align-items: center;
  }

  .hero-container {
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
    justify-content: center;
    height: 100%;
    overflow-x: hidden;
  }
  h1 {
    font-size: clamp(2rem, 12vw, 12.5rem);
    line-height: clamp(2rem, 12vw, 12.5rem);
    font-weight: 400;
  }
  .rotating-letter-sliding-left {
    animation: rotatingLetterSlidingLeft ease 0.75s;
    animation-delay: 0.25s;
  }
  .rotating-letter-sliding-right {
    animation: rotatingLetterSlidingRight ease 0.75s;
    animation-delay: 0.5s;
  }
  .subheading {
    margin-top: 64px;
    align-self: end;
    display: flex;
    gap: 0.1rem;
    margin-inline: 0;
    font-size: clamp(1.25rem, 8vw, 4rem);
    font-weight: 200;
  }
</style>
