:root {
  --xs-screen-size: 480px;
  --small-screen-size: 600px;
  --med-screen-size: 720px;
  --large-screen-size: 960px;
  --xl-screen-size: 1240px;

  --light-background-color: #ffffff;
  --light-text-color: #333232;
  --dark-background-color: #333232;
  --dark-text-color: #ffffff;
}
