@import "variables";
@import "blog";
@import "markdown";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: Poppins, sans-serif;
}

/* Light mode */
:root {
  --bg-color: white;
  --text-color: #333232;
}
/* Dark mode (applied via a class) */
.dark {
  --bg-color: #333232;
  --text-color: white;
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
}

main {
  min-height: 100vh;
}

h1,
h2,
h3 {
  font-family: Playfair Display, serif;
}

img {
  object-fit: cover;
}
