---
import type { ImageMetadata } from "astro";
import { Image } from "astro:assets";
import Markdown from "../utility/markdown.astro";

interface Props {
  background_color: string;
}

const block = Astro.props;
---

<section class="left-right" style={`background-color: #000000; color: #ffffff`}>
  <div class="content">
    <div class="text">
      <h2>What I do</h2>
      <p>
        I’m a full stack web developer, trained in a React focused bootcamp, now
        specialising in static site generators - particularly Astro, Eleventy,
        Hugo, and Jekyll.
      </p>
      <p>
        I work as a Solutions Architect for CloudCannon, a git-based content
        management system for managing static sites.
      </p>
    </div>
    <div class="image">
      <img src="/images/square-portrait.png" alt="" />
    </div>
  </div>
</section>

<style>
  section {
    padding-block: 128px;
  }
  .content {
    max-width: var(--pageContainer);
    padding-inline: var(--pagePadding);
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }
  .text {
    width: 100%;
  }

  .text h2 {
    font-size: 48px;
    line-height: 48px;
    font-weight: 600;
  }
  .image {
    width: 100%;
    max-width: 420px;
    display: flex;
    align-items: center;
    justify-content: center;
    align-self: center;
  }
  .image img {
    border-radius: 100%;
  }
  .text p {
    max-width: 72ch;
    font-weight: 200;
    margin-bottom: 1rem;
    font-size: 16px;
    line-height: 34px;
    letter-spacing: 0.1em;
  }

  @media screen and (min-width: 720px) {
    .text h2 {
      font-size: 64px;
      line-height: 66px;
    }
  }

  @media screen and (min-width: 720px) {
    .content {
      display: flex;
      flex-direction: row;
      gap: 1rem;
    }

    .text {
      width: 66%;
    }
    .text h2 {
      font-size: 80px;
      line-height: 84px;
    }

    .image {
      width: 34%;
    }
  }

  @media screen and (min-width: 900px) {
    .text h2 {
      font-size: 96px;
      line-height: 108px;
    }
  }
</style>
